name: Build, Package and SCA

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.12-eclipse-temurin-21
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make mvnw executable
        run: chmod +x mvnw
      - name: Build, test and package
        run: ./mvnw clean verify package
      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifact
          path: target/*.jar

  sast:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Semgrep SAST
        run: semgrep scan --config auto --sarif --output semgrep-sast-report.sarif
      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep-sast-report.sarif

  dependency-check:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: maven:3.9.12-eclipse-temurin-21
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make mvnw executable
        run: chmod +x mvnw
      - name: Run OWASP Dependency-Check
        run: ./mvnw verify -DskipTests
      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: dependency-check-report
          path: |
            target/dependency-check-report.html
            target/dependency-check-report.xml
